/* Notiffi CSS */
/* Cache la toolbar défaut */
#fa_toolbar {display: none}

/* Bouton de notification */
#notiffi_button {
 cursor: pointer;
 background: var(--dark);
 border-radius: 10px;
 display: flex;
 align-items: center;
 gap: 10px;
 padding: 5px 10px;
 position: fixed;
 z-index: 999;
 top: 8px;
 right: 15px;
padding: 0 20px;
height: 40px;
font-family: var(--title1);
line-height: 30px;
font-size: 14px;
letter-spacing: 1px;
color: var(--clair1);
border-radius: 5px;
border: 1px solid var(--clair1opa3);
}

#notiffi_button:before {
 font-family: "uicons-thin-rounded";
content: '\ef0c';
font-size: 18px;
}

/* Conteneur du nombre de notification non lues REMPLI */
.unread_count {
 position: relative;
 background: var(--dark2opa7);
 border-radius: 5px;
 width: 25px;
 height:25px;
 font-weight: 600;
 font-size: 12px;
 line-height:25px;
 opacity: 1;
 transition: scale ease-out .2s;
}

/* Conteneur du nombre de notification non lues VIDE */
.unread_count:empty {
 position: absolute;
 scale: 0;
 opacity: 0;
 transition: all ease-out .2s;
}



/* Menu des notifications FERMÉ */
#notiffi_panel {
 --menuSize: 500px;
 /* taille du Menu */
 width: var(--menuSize);
 position: fixed;
 z-index: 990;
 top: 0;
 height: 100%;
 right: calc(var(--menuSize) * -1);
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: start;
 background: var(--clair1opa7);
 border-left: 1px solid var(--cntr);
 padding: 15px;
 padding-top: 60px;
 opacity: 0;
 visibility: hidden;
 transition: all ease .7s;
}

/* Menu des notifications OUVERT */
#notiffi_panel.open {
 right: 0;
 visibility: visible;
 opacity: 1;
}

/* Conteneur des notifications */
.all_notifications {
 width: 100%;
 overflow: auto;
 max-height: 100%;
 background: var(--clair1);
 padding: 10px;
 border-radius: 5px;
 font-family:var(--txt3);
 font-size:1.05em;
 -ms-overflow-style: none;
 scrollbar-width: none;

 /* Désactive la barre de défilement dans le contenenur */
 &::-webkit-scrollbar {
   display: none;
 }
}

/* Conteneur des notifications VIDE */
.no_notification {
 text-align: center;
 font-style: italic;
}

/* Conteneur du footer du menu 
  (voir toutes les notifications, marquer comme lu, tout supprimer) */
.notiffi_manage {
 width: 100%;
 display: flex;
 justify-content: space-between;
}

/* Conteneur des bouton d'action des notifications */
.notiffi_actions {
 display: grid;
 justify-items: end;
 gap: 5px;

 /* Bouton d'action */
 button {
   padding: 2px 10px;
   background: var(--dark2);
   color:var(--clair1);
   font-family:var(--txt3);
   font-size:1.1em;
   border-radius: 5px;

   &:hover {
     color: var(--cntr);
   }
 }
}

/* Apparence d'une notification */
.notification {
 display: flex;
 gap: 15px;
 margin-bottom: 5px;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid transparent;
 transition: border .2s;
 animation: notiffiFadeIn 0.3s ease-in-out;

 /* Notification au survol */
 &:hover {
   border-color: var(--dark2opa5);
 }
}

/* Animation d'apparition des notifications */
@keyframes notiffiFadeIn {
 from {
   opacity: 0;
 }

 to {
   opacity: 1;
 }
}

/* Apparence d'une notification NON LUE */
.notification.unread {
 background-color: var(--cntr3);
}

/* Conteneur des détails de la notification (avatar, icone) */
.notif_details {
 position: relative;
 align-self: start;
}

/* Conteneur de l'avatar */
.notif_avatar {
 height: 55px;
width: 45px;
border-radius: 50%;
overflow: hidden;
outline: 1px solid var(--dark2opa4);
outline-offset: 2px;

 /* Image de l'avatar */
 & img {
   width: 100%;
   object-fit: cover;
 }
}

/* Icone du type de la notification */
.notif_icon {
 position: absolute;
 bottom: -5px;
 right: -5px;
 background: var(--cntr);
 color:var(--clair1opa8);
 width: 18px;
 aspect-ratio: 1;
 display: grid;
 place-items: center;
 border-radius: 20px;
 font-size: 10px;
}

/* Icone lorsque la notification est non lue */
.notification.unread .notif_icon {
 color: var(--clair1);
 background: var(--dark2);
}

/* Conteneur du texte et la date de la notification */
.notif_content {
 width: 100%;
}

/* Date de la notification */
.notif_time {
 font-size: 0.8em;
 opacity: .7;
 text-align:right;
 margin-top: 5px;
}

/* Bouton de suppression de la notification */
.notif_close {
 background: transparent;
 align-self: start;
 font-size: 18px;
 line-height: 0;
 opacity: 0;
 border-radius: 100px;
 aspect-ratio: 1;
 padding: 2px;
 transition: all .3s;
}

/* Affiche le bouton de suppression au survol de la notification */
.notification:hover .notif_close {
 opacity: 1
}

/* Alerte d'une notification */
.notification.alert {
 position: fixed;
 width: 400px;
 align-items: center;
 z-index: 995;
 bottom: 10px;
 right: 10px;
 background: var(--clair1);
 transform: translateY(100%);
 opacity: 0;
 filter: blur(5px);
 transition: all .5s ease-in-out;
}

.notification.alert.up {
 transform: translateY(0%);
 opacity: 1;
 filter: blur(0);
 transition: all .5s ease-in-out;
}

.alert_close {
 background: var(--dark2opa5);
 font-size: 18px;
 line-height: 0;
 border-radius: 100px;
 aspect-ratio: 1;
 padding: 2px;
}
