
/* dock-bottins.css */

.bot-dock{
    position:sticky;
    top:90px;
    display:flex;
    flex-direction:column;
    gap:2px;
    width:62px;
    padding:6px;
    overflow:visible;

    background:var(--clair1opa5);
    border:1px solid var(--clair1opa4);
    border-radius:24px;

    backdrop-filter:blur(8px) saturate(160%);
    -webkit-backdrop-filter:blur(8px) saturate(160%);

    box-shadow:
        0 10px 25px rgba(0,0,0,.10),
        inset 0 1px rgba(255,255,255,.25);
}

.bot-dock .item{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:50px;
    height:50px;
    text-decoration:none;
    opacity:.72;
    transition:opacity .2s;
}

.bot-dock .icon{
    width:50px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:transform .22s cubic-bezier(.2,.9,.2,1);
    will-change:transform;
}

.bot-dock .icon i{
    font-size:23px;
    background:var(--gradark);
    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
}

.dock .item:hover,
.dock .item.active{
    opacity:1;
}

.bot-dock .item.active::before{
    content:"";
    position:absolute;
    left:-10px;
    top:50%;
    transform:translateY(-50%);
    width:3px;
    height:22px;
    border-radius:99px;
    background:var(--gradient0);
}

.bot-dock .tooltip{
    position:absolute;
    left:66px;
    top:50%;
    transform:translate(8px,-50%);
    opacity:0;
    pointer-events:none;
    transition:.18s;
    white-space:nowrap;

    padding:8px 12px;
    border-radius:12px;
    background:var(--clair1);
    color:var(--txt);
    font:600 11px var(--font3);
    text-transform:uppercase;
    letter-spacing:.08em;
    box-shadow:0 8px 18px rgba(0,0,0,.15);
}

.bot-dock .tooltip::before{
    content:"";
    position:absolute;
    left:-5px;
    top:50%;
    width:10px;
    height:10px;
    transform:translateY(-50%) rotate(45deg);
    background:inherit;
}

.bot-dock .item:hover .tooltip{
    opacity:1;
    transform:translate(0,-50%);
}
