
/* dock-bottins.css */
#dock-bottin {position: absolute; left: 5px; top: 30%;}
.bot-dock{
    position:sticky;
    display:flex;
    flex-direction:column;
    gap:2px;
    width:52px;
    padding:6px 0;
    overflow:visible;
    z-index:99999;

    background:var(--clair1opa5);
    border:1px solid var(--clair1opa4);
    border-radius:15px;

    backdrop-filter:blur(8px) saturate(160%);
    -webkit-backdrop-filter:blur(8px) saturate(160%);

    box-shadow:
        0 10px 25px rgba(0,0,0,.10),
        inset 0 1px rgba(255,255,255,.25);
}

.bot-dock .item{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:50px;
    height:50px;
    text-decoration:none;
    opacity:.72;
    transition:opacity .2s;
}

.bot-dock .icon{
    width:50px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:transform .22s cubic-bezier(.2,.9,.2,1);
    will-change:transform;
}

.bot-dock .icon i{
    font-size:25px;
    background:var(--gradark);
    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
}

.dock .item:hover,
.dock .item.active{
    opacity:1;
}

.bot-dock .item.active::before{
    content:"";
    position:absolute;
    left:-10px;
    top:50%;
    transform:translateY(-50%);
    width:3px;
    height:22px;
    border-radius:99px;
    background:var(--gradient0);
}

.bot-dock .tooltip{
    position:absolute;
    left:60px;
    top:50%;
    transform:translate(8px,-50%);
    opacity:0;
    pointer-events:none;
    transition:.18s;
    white-space:nowrap;

    padding:5px 12px;
    border-radius:8px;
    background:var(--clair1);
    color:var(--txt);
    font:14px var(--font2);
    letter-spacing:-0.5s;
    box-shadow:0 8px 18px rgba(0,0,0,.15);
}

.bot-dock .tooltip::before{
    content:"";
    position:absolute;
    left:-5px;
    top:50%;
    width:10px;
    height:10px;
    transform:translateY(-50%) rotate(45deg);
    background:inherit;
}

.bot-dock .item:hover .tooltip{
    opacity:1;
    transform:translate(0,-50%);
}
